[Desktop Entry]
Encoding=UTF-8
Name=Bare
Comment=Bare P2P Cryptocurrency
Comment[fr]=Bare, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bare, eşten eşe kriptografik sanal para birimi
Exec=bare-qt %u
Terminal=false
Type=Application
Icon=bare128
MimeType=x-scheme-handler/bare;
Categories=Office;Finance;