[Desktop Entry]
Encoding=UTF-8
Name=Link to add.png
Type=Link
URL=https://github.com/crypto-node/bare-core/blob/master/src/qt/res/icons/bitcoin.png
Icon=image-png
